<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listado de estudiantes</title>

</head>
<body>


	<nav>
		
		
		<div>
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/estudiantes}">CODO A CODO </a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div>
			<h1>Lista de estudiantes</h1>
		</div>
		<div class="row">
		   <div class="col-lg-3">
		     <a th:href="@{/estudiantes/nuevo}" class="btn btn-primary btn-sm mb3">Agregar estudiante</a>
		   </div>
		</div>
		<br>
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estudiante : ${estudiantes}">
					<td th:text="${estudiante.nombre}">Nombre</td>
					<td th:text="${estudiante.apellido}">Apellido</td>
					<td th:text="${estudiante.email}">Email</td>
					<td>
					  <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}" class="btn btn-info">Editar</a>
					  <a th:href="@{/estudiantes/{id}(id=${estudiante.id})}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>